.div{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
}
.women{
	padding: 20px;
	background-color: #eef;
}
.p{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.p1{
	padding-right: 195px;
}

.p2{
	padding-right: 180px;
}
.div1{
			background-color: #fefbd8;
			height: 30px;
			text-align: center;
	}